@font-face {
  font-family: 'Lato', sans-serif;
  src: url(./Fonts/Righteous/Righteous-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Section CSS */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #272a31;
  height: 50px;
}

.logo {
  margin-left: 20px;
  color: #fff;
}

.navBar {
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: #fff;
  margin-right: 20px;
  margin-top: 0;
  padding-top: 0;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #d3d3d3;
  text-decoration: none;
}

/* Main Section CSS */

.clock {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: bolder;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 8% 25%;
}

#books {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50vw;
}

.bookStorage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
  border: solid 2px #272a31;
  border-radius: 2px;
  padding: 1%;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-left: 10px;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-right: 10px;
  border: solid 2px #272a31;
  padding: 1% 3%;
  align-self: end;
  box-shadow: 1px 2px black;
}

#btn:active,
button:active {
  color: #d3d3d3;
  background-color: #ec5242;
  box-shadow: 0 2px #272a31;
  transform: translateY(5px);
}

#addbook {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8% 25%;
}

input {
  color: black;
  font-weight: bold;
  border: solid 2px #272a31;
  width: 50vw;
  height: 30px;
  padding: 2%;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 1000;
}

#contact {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 8% 25%;
}

#contact ul {
  margin-left: -10%;
  list-style-type: square;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

/* Footer CSS */

footer {
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  color: #d3d3d3;
  background-color: #272a31;
}
